# Start Generation Here
.vscode/
# End Generation Here

# Editor and OS cruft
.idea/
.DS_Store

# Ignore all markdown files in root except README.md
/*.md
!README.md

# Ignore scripts in parent directory
/scripts

/resized_screenshots